<!DOCTYPE html>
<html>
  <head>
    <title>About | SmallWins Application by Adam Sunshine</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Development in progress. Come back soon.
    </p>
  </body>
</html>
