<div class="center jumbotron">
  <h1>Welcome to Small Wins</h1>

  <h2>
    This is the home page for the
    <a href="/">Small Wins</a>
    focus tracking application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
